http://wii-linux.org https://wii-linux.org http://www.wii-linux.org https://www.wii-linux.org {
	root * /srv/www/wii-linux.org
	php_fastcgi unix//run/php-fpm.sock {
		try_files /index.php
	}

	file_server
}

http://packages.wii-linux.org https://packages.wii-linux.org {
	root * /srv/www/packages

	file_server browse
}
